EXPO_PUBLIC_USE_ENV=false

EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

EXPO_PUBLIC_XC_URL=
EXPO_PUBLIC_XC_USERNAME=
EXPO_PUBLIC_XC_PASSWORD=

EXPO_PUBLIC_TMDB_API_KEY=
EXPO_PUBLIC_TMDB_API_READ_ACCESS_TOKEN=