.mediaCard {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease 0s;

  &:hover {
    transform: scale3d(1.1, 1.1, 1) translateZ(0) perspective(500px);
    transform-origin: 50% 50%;
    z-index: 10;
  }
}

.imageWrapper {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 256 / 376; /* Aspect ratio */
  overflow: hidden;
}

.mediaImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mediaInfo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: color-mix(in srgb, var(--color-black) 75%, transparent);
  padding: 16px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  .mediaCard:hover & {
    opacity: 1;
    pointer-events: auto;
  }

  &.noCover {
    background-color: var(--color-black);
    opacity: 1;
  }
}

.mediaPlot {
  color: var(--color-white);
  overflow: hidden;
  text-overflow: ellipsis;
}
