.sortControl {
  display: flex;
  align-items: stretch;
  gap: 8px;
}

.sortLabel {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 18px;
}

.sortButton {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-700);
  color: var(--color-white);
  gap: 0;
  transition: all 0.3s ease;
  padding: 6px 8px;

  &.activeSortButton {
    pointer-events: none;
    background-color: var(--color-gold);
    color: var(--color-black);
    gap: 8px;

    .sortButtonLabel {
      max-width: 500px;
    }
  }
}

.sortButtonLabel {
  width: auto;
  max-width: 0px;
  overflow: hidden;
  white-space: nowrap;
}
