@custom-media --viewport-xxs (max-width: 320px);
@custom-media --viewport-xxs-up (min-width: 321px);
@custom-media --viewport-xs (max-width: 480px);
@custom-media --viewport-xs-up (min-width: 481px);
@custom-media --viewport-sm (max-width: 640px);
@custom-media --viewport-sm-up (min-width: 641px);
@custom-media --viewport-md (max-width: 768px);
@custom-media --viewport-md-up (min-width: 769px);
@custom-media --viewport-lg (max-width: 1024px);
@custom-media --viewport-lg-up (min-width: 1025px);
@custom-media --viewport-xl (max-width: 1280px);
@custom-media --viewport-xl-up (min-width: 1281px);
@custom-media --viewport-2xl (max-width: 1536px);
@custom-media --viewport-2xl-up (min-width: 1537px);
