@import "./variables.css" layer(utilities);
@import "./custom-media.css" layer(utilities);

body {
  position: relative;
  color: var(--color-white);
  background: var(--color-grey-900);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  padding: 16px;
}
