.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color-mix(in srgb, var(--color-black) 20%, transparent);
  padding: 16px;
  z-index: 100;
}
