.mediaListWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.title {
  margin-bottom: 8px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
}

.mediaList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 16px;
}
